html, body {margin: 0; height: 100%; overflow: hidden}

body {
  background-color: #4d8b31;
  margin: 2px;
  padding: 0;
}

main {
  margin: 0;
  padding: 0;
}


h1 {
  margin-top: 0vh;
  padding: 0;
  text-align: center;
  font-size: 6vh;
  color: #1e212b;
}

@media (max-width:1200px){
  h1 {
    font-size: 4.5vh;
        }
}

.randomizer {
  //background-color: grey;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  max-width:700px;
  margin-top:0;
  padding-top:4vh;
 }
 
.title-section {
  width:99%;
  margin:3px 7px;
  //background-color:red;
  height:10vh;
  display:inline-block;
}

.volume-section {
  width:99%;
  margin:3px 7px;
  //background-color:orange;
  height:10vh;
  display:inline-block;
  font-size: 5vh;
}


.controls {
  margin-left: auto;
  margin-right: auto;
  //background-color:blue;
  height:20vh;
  width:100%;
  margin:0 0%;
  padding:0;
}

#buttonRand, #buttonDelete, #animations-toggle {
  width: 99%;
  height: 100%;
  margin: 0 0.5%;
  font-size: 5vh;
  vertical-align: top;
}

@media (max-width:1200px){
  #buttonRand {
    font-size: 3vh;
        }
}

#buttonRand {
  color: #1e212b;
}

.text-entry {
font-size: 5vh;
  //background-color:gray;
  height:10vh;
  width:100%;
  margin:1vh 0%;
  padding:0;
}

#quantityLabel {
  margin:0 6vw;
}

#quantity {
  height: 50px;
  width: 150px;
  font-size: 4vh;
  margin:0 0.1vw;
}





